#nomeDiv {
    background-size: cover;
    width: 500px;
    height: 500px;
}

.pesquisa {
    width: 200px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 5px;
    outline: none;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.botao {
    background-color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.botao:hover {
    background-color: #00e1ff;
    transition: 0.2;

}

.img {
    background-size: 100px;
}